@font-face {
  font-family: 'MyCustomFont';
  src: url('bemirs-font/BemirsDemoVersionRegular-L360Z.ttf') format('truetype'),
       url('bemirs-font/BemirsDemoVersionRegular-X361d.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
}

body {
  margin: 0;
  font-family: 'MyCustomFont', 'sans-serif';
  background-color: #f9f9f9;
}

.stories-first-section {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjust this as needed */
}



nav {
  position: absolute; /* Set the position to fixed */
  top: 0; /* Position it at the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Make it span the full width of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f9f9f9;
  backdrop-filter: blur(5px);
  z-index: 1000; /
}

.logo {
  margin-bottom: 1rem;
}

.logo a {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.logo img{
  max-height: 5rem; /* Adjust the height as needed */
  width: 5rem; /* Maintain aspect ratio */
  border-radius: 50%;
}

.nav-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 1rem;
}

.nav-menu li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #666;
}

@media (max-width: 768px) {

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }


  .logo {
    margin-LEFT: 1rem;
    margin-top: 1rem;
  }

  .logo img{
    max-height: 3rem; /* Adjust the height as needed */
    width: 3rem; /* Maintain aspect ratio */
    border-radius: 50%;
  }
  .nav-toggle {
    display: block;
    margin-right: 1rem;
    
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    padding: 1rem 0;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-menu li {
    margin: 1rem 0;
    text-align: center;
  }
}


.second-section {
  padding: 20px;
  margin-top: 160px;
  margin-left: 160px;
  margin-right: 160px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Align items with space around */
  gap: 20px;
  /* Gap between items */
}

.main-text-container {
  height: auto;
  margin-left: 10px;

}


.main-text-container p{
  margin: 0;
}

.main-text-container-head{
  align-items: center;
  display: grid;
  grid-template-columns:  4fr 1fr; /* 3 equal-width columns */
  
}
.head2 a {
  font-size: 10px;
  color: black;

}

.sub-container {
  flex: 0 1 calc(50% - 20px); /* Two containers horizontally with gap */
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  
  height: auto; /* Increase height */
  
 
}

.sub-container .image-container img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  border-radius: 0.5rem;
}

.text-container {
  display: flex;
  align-items: center;
  text-align: left;
  
}

.text-container a,
.text-container p {
  color: black;
  margin-top: 20px;
  padding: 0;
  text-align: left;
}


@media (max-width: 768px) {
  
  .second-section {
    margin-top: 160px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .sub-container {
    flex-basis: calc(100% - 20px); /* One container per row on smaller screens */
  }
}
  
.footer{
  margin-top: 160px;
  display: grid;
  justify-content: center;
  
}

.social-icons {
 
 
  display: flex;
  justify-content: space-around;
  align-items: center;
 

}

.fab{
  color: black;
  
}

.fab:hover{
  color: grey;
}

.company-name{
  margin-top: 40px;
  text-align: center;
}


/* Styles for small screens */

  
  